{% extends 'core/base.html' %}

{% block title %}Filtracion{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Encuesta</h1>
    <span class="subheading">Gestor de informacion</span>
{% endblock %}

{% block content %}
<!--Imagen del logotipo de la app-->
    <div align = "center">
        <img class="img-fluid" src="{% static 'core/img/logo_new.png' %}" alt="">
    </div>

<!--Informacion sobre la app y sobre lo que trata-->
    <div align = "Center">
        <p>
            
            Informacion de la app

        </p>
        <br>
        <p>Para que sirve la app
             
        </p>
    </div>
    <br>
<!--Filtrado de datos-->
    <div class = "container">
        <label><h4>Filtrar Datos por:</h4></label>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="inputDepartamento"><h5>Departamento:</h5></label>
                    {{ form.departamento.label_tag }} 
                    {{ form.departamento }}
                    
                </div>
                <div class="col">
                    <label class="col-form-label" for="inputMunicipio"><h5>Municipio:</h5></label>
                    {{ form.municipio.label_tag }}  
                    {{ form.municipio }}
                    
                </div>

                <div class="col">
                    <label class="col-form-label" for="inputAyuda"><h5>Tipo de Ayuda:</h5></label>
                    <select class="form-control" id="id_beneficio">
<!--Arreglar este modelo-->
                    <option value="" selected="selected">-------</option>
                    {% for ayuda in ayudas %}
                    <option value = {{ayuda.idBeneficio}}>{{ayuda.nombre_beneficio}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label class="col-form-label" for="inputEntidad"><h5>Entidad:</h5></label>
                    <select class="form-control" id="id_benefactor">
<!--Arreglar este modelo-->
                    <option value="" selected="selected">-------</option>
                    {% for entidad in entidades %}
                    <option value = {{entidad.idBenefactor}}>{{entidad.nombre_benefactor}}</option>
                    {% endfor %}
                    </select>
                </div>
                <button type="button" class="btn btn-dark" id="filtrarInfo"><h8>Filtrar</h8></button>
            </div>
        </form>

        <br>
        <div id='result'>
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Departamento</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Tipo de ayuda</th>
                        <th scope="col">Entidad</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for beneficiario in beneficiarios %}
                        <tr class="table-light">    
                            <td>{{beneficiario.nombre_departamento}}</td>
                            <td>{{beneficiario.nombre_municipio}}</td>
                            <td>{{beneficiario.nombre_beneficio}}</td>
                            <td>{{beneficiario.nombre_benefactor}}</td>
                            <td>{{beneficiario.cantidad}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <script type="text/javascript">
            
            $(document).ready(function() {
                $("#id_departamento").on("change", getMunicipios);
                $("#filtrarInfo").on("click", getInfo);
            });

            function getMunicipios() {
                var departamentoId = $("#id_departamento").val();
                if (departamentoId) {
                    // Eliminamos las opciones anteriores del select
                    $("#id_municipio").html("");
                    var request = $.ajax({
                        type: "GET",
                        url: "{% url 'get_municipios' %}",
                        data: {
                            "departamento_id": departamentoId,
                        },
                    });
                    request.done(function(response) {
                        // Agregamos los resultados al select
                        $("#id_municipio").html(response.municipios);
                        $("#id_municipio").trigger("change");
                    });
                } else {
                    $("#id_municipio").html("<option value='' selected='selected'>--------</option>");
                    $("#id_municipio").trigger("change");
                }
            }

            function getInfo() {
                var departamentoId = $("#id_departamento").val();
                var municipioId = $("#id_municipio").val();
                var beneficioId = $("#id_beneficio").val();
                var benefactorId = $("#id_benefactor").val();

                $("#result").html("");
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_info' %}",
                    data: {
                        "departamento_id": departamentoId,
                        "municipio_id": municipioId,
                        "beneficio_id": beneficioId,
                        "benefactor_id": benefactorId,
                    },
                });
                request.done(function(response) {
                    // Agregamos los resultados al select
                    $("#result").html(response.beneficiarios);
                    $("#result").trigger("click");
                }); 
            }
        </script>
       
    </div>    
{% endblock%}

<!--Aquí se va a insertar la tabla que muestra los datos (La tabla principal)
Dicha tabla contiene [Departamento, Municipio, Beneficio, Benefactor]-->





{% block footer%}
    <br></br>
    <div align = "center" class="container">
        <a href="{% url 'Iniciar Sesion' %}"><button type="button" class="btn btn-link" pull-righ>Iniciar Sesión</button></a> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Si desea agregar información, Haga click Aquí</label>
        <a href="{% url 'Agregar Infromacion' %}"><button type="button" class="btn btn-dark" pull-left><h8>Aquí</h8></button></a>
    </div>
{% endblock %} 
